:root {
  --pozadina: #0b1020;
  --tekst: #eaf2ff;
  --popup: #151b2e;
  --sporedna: #00d4ff;
  --akcent: #2563eb;
}

body {
  background-color: var(--pozadina);
  color: var(--tekst);
  font-family: "Andale Mono", monospace;
}

.glavni-dio {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 40px;
  align-items: start;
  padding: 40px 20px 40px 0;
}

.racunari {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  gap: 100px;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
  transofrm: none;
}

.kartica {
  position: relative;
  height: 350px;
  border: 3px solid #ffffffee;
  border-radius: 15px;
  padding: 30px;
  background-color: var(--sporedna);
  overflow: hidden;
  object-fit: contain;
  transition: transform 0.22s ease-in-out;
  background-color: 0.4s ease;
}

.kartica img {
  width: 280px;
  height: 240px;
  object-fit: contain;
}

.cijena {
  text-font-style:
    andale mono,
    monospace;
  font-weight: 550;
  position: absolute;
  bottom: 15px;
  text-align: left;
  font-size: 28px;
  -webkit-text-stroke: 1px var(--pozadina);
}

.kupi {
  position: absolute;
  bottom: 10px;
  left: 50px;
  padding: 4.5px 100px;
  border: 1px solid var(--pozadina);
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition:
    transform 0.3s ease,
    background-color 0.4s ease;
}

.kupi:hover {
  background-color: rgb(44, 164, 70);
}

.opis {
  position: absolute;
  bottom: 60px;
  text-align: left;
  width: 300px;
  font-size: 18px;
  line-height: 1.2;
}

.kartica:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: #6adff7;
}
.popup {
  position: fixed;
  display: none;
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
  text-align: right;
  z-index: 1000;
}

.popup.aktivan {
  display: flex;
}

.popup-sadrzaj {
  background-color: var(--popup);
  padding: 10px;
  border-radius: 10px;
  border: 2.5px solid white;
  width: 600px;
  height: 350px;
}

.popup-kupi {
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  justify-content: right;
  align-items: right;
  z-index: 3000;
}

.popup-kupi.aktivan {
  display: flex;
}

.popup-kupi-sadrzaj {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 10px;
  width: 300px;
  height: 600px;
}

.popup-zatvori{
  transition: transform 0.3s ease-in-out,
  background-color: 0.3s ease-in-out;
  border-radius: 5px;
  border: 0.5px solid transparent;
}
.popup-zatvori:hover{
  background-color: crimson;
  border: 0.5px solid white;
  transform: scale(1.01);
}

.korpa-artikal {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid var(--pozadina);
}

.korpa-artikal img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.korpa-artikal p {
  margin: 0;
  color: var(--pozadina);
  font-size: 14px;
  -webkit-text-stroke: 0.1px var(--akcent);
}

.korpa-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dugme-ukloni {
  max-width: 55px;
  border-radius: 25px;
  background-color: rgba(163, 25, 25, 0.842);
  border: 1px solid var(--pozadina);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  bottom: 0;
  top: 0;
  transition:
    transform 0.4s ease,
    background-color 0.4s ease;
}

.dugme-ukloni:hover {
  transform: scale(1.15);
  background-color: rgba(230, 25, 25, 0.9);
}

#korpa-lista {
  max-height: 500px;
  overflow-y: auto;
}

.popup-kupi-zatvori {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.3);
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-font-style:
    andale mono,
    monospace;
  font-size: 15px;
  transition:
    transform 0.4s ease,
    background-color 0.4s ease;
}

.popup-kupi-zatvori:hover {
  transform: scale(1.075);
  background-color: rgba(230, 25, 25, 0.9);
}

/* DIO KODA ZA STILIZIRANJE GLAVNE NAVIGACIJE */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #1e293b; /* Tamna boja za moderni izgled */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.logo span {
  color: #2563eb; /* Plavi akcent */
}

.github-link {
  display: flex;
  align-items: center;
  gap: 15px;
  transform: translateY(-3px);
}

#github-logo {
  width: 25px;
  height: 25px;
  transform: translateY(-5px);
  object-fit: contain;
}
.glavna-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.glavna-nav a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.glavna-nav a:hover,
.glavna-nav a.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
}

/* DIO KODA ZA STILIZIRANJE GLAVNE NAVIGACIJE */

/* DIO KODA ZA STILIZIRANJE FILTERA */

.sporedna-nav h3 {
  text-transform: uppercase;
  text-weight: bold;
}

.status {
  margin-top: 15px;
  margin-bottom: -25px;
}

.sporedna-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.glavni-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--akcent);
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}

/* DIO KODA ZA STILIZIRANJE FILTERA */

@media (max-width: 900px) {
  .racunari {
    justify-content: center;
    grid-template-columns: repeat(2, 200px);
    justify-items: center;
    transform: none;
  }

  .kartica {
    width: 200px;
    height: 300px;
  }
  .kartica img {
    height: 200px;
    width: 200px;
  }

  .popup {
    z-index: 4000;
    scale: 0.8;
  }

  .kupi {
    left: 15px;
    right: 15px;
  }

  .opis {
    width: 220px;
    font-size: 16px;
  }
  /* NAMJESTA DA LIJEPO IZGLEDAJU DUGMAD I ARTIKLI */
  .glavni-dio {
    display: block;
    padding: 20px;
  }
  .status {
    text-align: center;
  }
  .sporedna-nav li {
    top: 0;
    display: flex;
    justify-content: center;
  }

  .glavni-btn {
    width: 100;
    max-width: 180px;
    padding: 10px;
  }

  .sporedna-nav h3 {
    text-align: center;
    font-size: 24px;
    margin-top: -15px;
  }
}

@media (max-width: 600px) {
  .racunari {
    grid-template-columns: 1fr;
    padding-left: 0;
    transform: none;
  }

  .kartica {
    width: 300px;
  }

  .kartica img {
    height: 200px;
    width: 230px;
  }

  .popup-kupi-sadrzaj {
    width: 200px;
    height: 600px;
  }
  .popup {
    z-index: 4000;
    scale: 0.8;
  }
}
@media (min-width: 1400px) {
  .racunari {
    max-width: 1200px;
    gap: 140px;
  }
}
