:root {
  --pozadina: #0b1020;
  --tekst: #eaf2ff;
  --popup: #151b2e;
  --sporedna: #00d4ff;
  --akcent: #2563eb;
}

body {
  background-color: var(--pozadina);
  color: var(--tekst);
  font-family: "Andale Mono", monospace;
}

.tema-btn {
  background-color: white;
  border-radius: 10px;
  border: none;
  scale: 1.15;
  transition: 0.3s all;
}
.tema-btn:hover {
  cursor: pointer;
  background-color: var(--pozadina);
}

.glavni-dio {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 40px;
  padding: 40px 20px 40px 0;
}

.racunari {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  gap: 100px;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
  transofrm: none;
}

.kartica {
  position: relative;
  height: 350px;
  border: 3px solid #ffffffee;
  border-radius: 15px;
  padding: 30px;
  background-color: var(--sporedna);
  overflow: hidden;
  object-fit: contain;
  transition: transform 0.22s ease-in-out;
  background-color: 0.4s ease;
}

.kartica img {
  width: 280px;
  height: 240px;
  object-fit: contain;
}

.cijena {
  text-font-style:
    andale mono,
    monospace;
  font-weight: 550;
  position: absolute;
  bottom: 15px;
  text-align: left;
  font-size: 28px;
  -webkit-text-stroke: 1px var(--pozadina);
}

.kupi {
  position: absolute;
  bottom: 10px;
  left: 50px;
  padding: 4.5px 100px;
  border: 1px solid var(--pozadina);
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition:
    transform 0.3s ease,
    background-color 0.4s ease;
}

.kupi:hover {
  background-color: rgb(44, 164, 70);
}

.opis {
  position: absolute;
  bottom: 60px;
  text-align: left;
  width: 300px;
  font-size: 18px;
  line-height: 1.2;
}

.kartica:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: #6adff7;
}
.popup {
  position: fixed;
  display: none;
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
  text-align: right;
  z-index: 1000;
}

.popup.aktivan {
  display: flex;
}

.popup-sadrzaj {
  background-color: var(--popup);
  padding: 10px;
  border-radius: 10px;
  border: 2.5px solid white;
  width: 600px;
  height: 350px;
}

.popup-kupi {
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  justify-content: right;
  align-items: right;
  z-index: 3000;
}

.popup-kupi.aktivan {
  display: flex;
}

.popup-kupi-sadrzaj {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 10px;
  width: 300px;
  height: 600px;
}

.popup-zatvori {
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  border-radius: 5px;
  border: 0.5px solid transparent;
}
.popup-zatvori:hover {
  background-color: crimson;
  border: 0.5px solid white;
  transform: scale(1.01);
}

.korpa-artikal {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid var(--pozadina);
}

.korpa-artikal img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.korpa-artikal p {
  margin: 0;
  color: var(--pozadina);
  font-size: 14px;
  -webkit-text-stroke: 0.1px var(--akcent);
}

.korpa-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dugme-ukloni {
  max-width: 55px;
  border-radius: 25px;
  background-color: rgba(163, 25, 25, 0.842);
  border: 1px solid var(--pozadina);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  bottom: 0;
  top: 0;
  transition:
    transform 0.4s ease,
    background-color 0.4s ease;
}

.dugme-ukloni:hover {
  transform: scale(1.15);
  background-color: rgba(230, 25, 25, 0.9);
}

#korpa-lista {
  max-height: 500px;
  overflow-y: auto;
}

.popup-kupi-zatvori {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.3);
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-font-style:
    andale mono,
    monospace;
  font-size: 15px;
  transition:
    transform 0.4s ease,
    background-color 0.4s ease;
}

.popup-kupi-zatvori:hover {
  transform: scale(1.075);
  background-color: rgba(230, 25, 25, 0.9);
}

/* DIO KODA ZA STILIZIRANJE GLAVNE NAVIGACIJE */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #1e293b; /* Tamna boja za moderni izgled */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.logo span {
  color: #2563eb; /* Plavi akcent */
}

.github-link {
  display: flex;
  align-items: center;
  gap: 15px;
  transform: translateY(-3px);
}

#github-logo {
  width: 25px;
  height: 25px;
  transform: translateY(-5px);
  object-fit: contain;
}
.glavna-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.glavna-nav a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.glavna-nav a:hover,
.glavna-nav a.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
}

/* DIO KODA ZA STILIZIRANJE GLAVNE NAVIGACIJE */

/* DIO KODA ZA STILIZIRANJE FILTERA */

.sporedna-nav h3 {
  text-transform: uppercase;
  text-weight: bold;
}

.status {
  margin-top: 15px;
  margin-bottom: -25px;
}

.sporedna-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.glavni-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--akcent);
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
.filter-sekcija {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}

.filter-grupa {
  display: flex;
  flex-direction: column; /* Gumbi jedan ispod drugog unutar grupe */
  gap: 8px;
}

.filter-btn {
  background: var(--popup);
  border: 1px solid var(--sporedna);
  color: var(--tekst);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
}

.filter-btn:hover,
.aktivan-filter {
  background: var(--sporedna);
  color: var(--pozadina);
}

.filter-btn.glavno {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--akcent);
}

/* DIO KODA ZA STILIZIRANJE FILTERA */

/* DIO KODA ZA STILIZIRANJE KONTAKT FORME */

.kontakt-sadrzaj {
  flex: 3;
  display: flex;
  justify-content: center;
}

.kontakt-kartica {
  background-color: var(--popup);
  border: 3px solid var(--sporedna);
  border-radius: 15px;
  padding: 35px;
  width: 100%;
  max-width: 550px;
  box-shadow: 0 0 25px rgba(0, 212, 255, 0.2);
  position: relative;
}

.kontakt-kartica h2 {
  font-family: "Andale Mono", monospace;
  color: var(--sporedna);
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
}

.forma-red {
  display: flex;
  gap: 20px;
}

.polje-grupa {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  width: 100%;
}

.polje-grupa label {
  font-family: "Andale Mono", monospace;
  font-size: 13px;
  color: var(--tekst);
  text-transform: uppercase;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

/* Unosi (Input i Textarea) */
.polje-grupa input,
.polje-grupa textarea {
  background-color: rgba(11, 16, 32, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  padding: 12px;
  border-radius: 6px;
  font-family: "Andale Mono", monospace;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.polje-grupa input:focus,
.polje-grupa textarea:focus {
  background-color: var(--popup);
  border-color: var(--sporedna);
  box-shadow: 0 0 10px rgba(0, 212, 255, 0.3);
  outline: none;
}

.forma-submit-btn {
  width: 100%;
  padding: 14px;
  background-color: var(--akcent);
  color: #000000;
  border: none;
  border-radius: 10px;
  font-family: "Andale Mono", monospace;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 15px;
  transition: 0.3s;
}

.forma-submit-btn:hover {
  background-color: var(--sporedna);
  color: var(--pozadina);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 212, 255, 0.4);
}

.greska {
  color: #ff4444;
  font-size: 11px;
  margin-top: 4px;
  height: 14px;
  font-weight: bold;
}

.input-greska {
  border: 2px solid #ff4444 !important;
  background-color: rgba(255, 68, 68, 0.05) !important;
}

#uspjeh-poruka {
  margin-top: 25px;
  padding: 15px;
  border-left: 5px solid #65d84e;
  background: rgba(101, 216, 78, 0.1);
  color: #65d84e;
  font-family: "Andale Mono", monospace;
  font-size: 14px;
  border-radius: 4px;
  animation: fadeIn 0.5s ease-in;
}
#info-tekst {
  font-size: 16px;
  color: var(--tekst);
}

.radno-vrijeme {
  display: block;
  color: var(--sporedna);
}

#uspjeh-poruka {
  display: none; /* Inicijalno sakriveno bez inline stila */
  margin-top: 25px;
  padding: 15px;
  border-left: 5px solid #65d84e;
  background: rgba(101, 216, 78, 0.1);
  color: #65d84e;
  font-family: "Andale Mono", monospace;
  font-size: 14px;
  border-radius: 4px;
}

.vidljivo {
  display: block !important;
}

/* DIO KODA ZA STILIZIRANJE KONTAKT FORME */

/* DIO KODA ZA STILIZIRANJE SADRZAJ STRANICE */

.uvod-sadrzaj {
  text-align: center;
  color: var(--tekst);
  font-size: 24px;
}

.pc-mapa-kartica h2 {
  text-align: center;
  color: var(--tekst);
  font-size: 26px;
  text-decoration: underline;
  text-transform: uppercase;
}

.pc-mapa-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.pc-mapa-wrapper img {
  width: 100;
  height: 100;
  width: 700px;
  height: 700px;
  object-fit: contain;
  border: 5px solid rgba(0, 212, 255, 0.35);
  box-shadow: 0 5px 15px rgba(0, 212, 255, 0.4);
}

.zona {
  position: absolute;
  transition: 0.3s ease;
  background-color: rgba(0, 212, 255, 0.1);
  border: 2px solid transparent;
  cursor: pointer;
}

.zona:hover {
  background-color: rgba(0, 212, 255, 0.35);
  border-color: var(--sporedna);
}

.zona-cpu {
  top: 27%;
  left: 36%;
  width: 8%;
  height: 13%;
}

.zona-gpu {
  top: 48%;
  left: 28.2%;
  width: 32.4%;
  height: 12%;
}

.zona-ram {
  top: 21%;
  left: 46%;
  width: 3%;
  height: 24%;
}

.linija {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 30px 0;
}

.opis-komponente {
  display: flex;
  align-items: center;
  gap: 20px;
}
.opis-komponente img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 2.5px solid var(--sporedna);
}
.opis-komponente h2 {
  color: var(--tekst);
  text-align: center;
  font-size: 50px;
  padding: 30px;
}

.proizvodi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.komponenta-kartica h4,
.komponenta-kartica p {
  text-align: left;
}

#vrh-sadrzaj {
  display: block;
  width: fit-content;
  font-size: 20px;
  margin-left: auto;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  transition:
    transform 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}
#vrh-sadrzaj:hover {
  cursor: pointer;
  color: var(--sporedna);
  border-color: var(--sporedna);
  transform: scale(1.04);
}

.cpunaslov {
  margin-top: 40px;
  letter-spacing: 4px;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0 0 55px;
}
#intel-cpunaslov {
  color: lightskyblue;
}
#amd-cpunaslov {
  color: red;
}

.gpunaslov {
  margin-top: 40px;
  letter-spacing: 4px;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0 0 55px;
}

#intel-gpunaslov {
  color: lightskyblue;
}
#amd-gpunaslov {
  color: red;
}

#nvidia-gpunaslov {
  color: greenyellow;
}
.table-list {
  display: flex;
}

.ramnaslov {
  font-size: 20px;
  text-align: left;
}

.lista-komponenti {
  border: 2px solid white;
  border-radius: 7px;
  width: 250px;
  margin-left: auto;
}

.tabela-komponenti {
  border: 2px solid white;
}

.lista-komponenti h2 {
  text-align: center;
}
#ram01 {
  color: gold;
}

.list {
  color: var(--sporedna);
}

.komponenta-kartica img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.komponenta-kartica1 img {
  width: 220px;
  height: 240px;
  object-fit: cover;
}

/* DIO KODA ZA STILIZIRANJE SADRZAJ STRANICE */

@media (max-width: 900px) {
  .racunari {
    justify-content: center;
    grid-template-columns: repeat(2, 200px);
    justify-items: center;
    transform: none;
  }

  .kartica {
    width: 200px;
    height: 300px;
  }
  .kartica img {
    height: 200px;
    width: 200px;
  }

  .popup {
    z-index: 4000;
    scale: 0.8;
  }

  .kupi {
    left: 15px;
    right: 15px;
  }

  .opis {
    width: 220px;
    font-size: 16px;
  }
  /* NAMJESTA DA LIJEPO IZGLEDAJU DUGMAD I ARTIKLI */
  .glavni-dio {
    display: block;
    padding: 20px;
  }
  .status {
    text-align: center;
  }
  .sporedna-nav li {
    top: 0;
    display: flex;
    justify-content: center;
  }

  .glavni-btn {
    width: 100;
    max-width: 180px;
    padding: 10px;
  }

  .sporedna-nav h3 {
    text-align: center;
    font-size: 24px;
    margin-top: -15px;
  }
  #info-tekst {
    text-align: center;
  }

  .pc-mapa-wrapper img {
    width: 450px;
    height: 450px;
  }

  .opis-komponente img {
    width: 250px;
    height: 250px;
  }

  .opis-komponente h2 {
    font-size: 34px;
  }

  #github-logo {
    display: none;
  }

  .proizvodi-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .komponenta-kartica1 img {
    width: 220px;
    height: 180px;
    object-fit: cover;
  }

  .komponenta-kartica img {
    width: 280px;
    height: 140px;
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  .racunari {
    grid-template-columns: 1fr;
    padding-left: 0;
    transform: none;
  }

  .kartica {
    width: 300px;
  }

  .kartica img {
    height: 200px;
    width: 230px;
  }

  .popup-kupi-sadrzaj {
    width: 200px;
    height: 600px;
  }
  .popup {
    z-index: 4000;
    scale: 0.8;
  }
  #info-tekst {
    display: block;
    text-align: center;
  }

  .pc-mapa-wrapper img {
    width: 350px;
    height: 350px;
  }

  .opis-komponente h2 {
    padding: 5px;
    font-size: 30px;
  }

  .tema-btn {
    margin-top: -75px;
  }

  .table-list {
    display: block;
  }

  .proizvodi-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .komponenta-kartica img {
    width: 180px;
    height: 120px;
    object-fit: contain;
  }
}
@media (min-width: 1400px) {
  .racunari {
    max-width: 1200px;
    gap: 140px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
